{% load adsense_tags %}

{% if ads %}
<div class="adsense-wrapper {{ css_class }}">
    {% for ad_unit in ads %}
        <div class="adsense-ad-unit adsense-{{ ad_unit.placement }}" 
             data-ad-unit="{{ ad_unit.name }}" 
             data-placement="{{ ad_unit.placement }}">
            {% if ad_unit.custom_css %}
                <style>{{ ad_unit.custom_css }}</style>
            {% endif %}
            {{ ad_unit.get_ad_code_html|safe }}
        </div>
    {% endfor %}
</div>
{% endif %}
